* { border: 0; padding: 0; box-sizing: border-box; }

body {
    background: url("https://i.pinimg.com/originals/a1/4d/f2/a14df22726e1964e347dc13b182457e5.gif") no-repeat fixed;
    background-size: cover; height: 100vh; width: 100vw; overflow: hidden; cursor: pointer;
}

.main-content { text-align: center; color: yellow; font-size: large; font-style: italic; }

h1, h2 {
    margin-bottom: 70px; animation: spanimation 1s ease-in-out infinite;
}

h1 { font-weight: 900; }
h2 { font-weight: 500; }

.lightsUpLeft, .lightsDownLeft, .lightsUpRight, .lightsDownRight {
    float: left; width: 150px; height: 150px;
}

.lightsUpRight, .lightsDownRight { float: right; }

.diwali_diyasLeft, .diwali_diyasRight {
    margin-top: 30px; width: 80px; height: 80px;
}

.diyas { align-items: center; width: 500px; height: 280px; }

.lightsDownLeft, .lightsDownRight { margin-top: 140px; }

@keyframes spanimation {
    0% { text-shadow: 0 0 50px rgb(165, 62, 22), 0 0 20px rgb(165, 62, 22), 0 0 30px #ffd700, 0 0 40px rgb(212, 65, 6), 0 0 50px rgb(240, 75, 9); }
    100% { text-shadow: 0 0 40px rgb(16, 197, 46), 0 0 20px gold, 0 0 30px rgb(212, 65, 6), 0 0 60px rgba(221, 195, 25, 0.774), 0 0 50px rgba(16, 175, 43, 0.863); }
}